.profile__subtitle {
  margin: 0;
  padding: 0;
  max-width: 500px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 950px) {
  .profile__subtitle {
    max-width: 250px;
  }
}
@media (max-width: 425px) {
  .profile__subtitle {
    margin-right: 0px;
  }
}
@media (max-width: 325px) {
  .profile__subtitle {
    font-size: 14px;
   text-align: center;
  }
}