.profile {
  width: 100%;
  margin-bottom: 47px;
  padding-top: 41px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

}

@media (max-width: 785px) {
  .profile {
    margin-bottom: 36px;
    flex-wrap: wrap;
  }
}

@media (max-width: 425px) {
  .profile {
    flex-wrap: wrap;

  }
}