.profile {
  width: 100%;
  padding-top: 36px;
  margin: 0 0 47px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@media (max-width: 875px) {
  .profile {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .profile {
    flex-wrap: wrap;
    padding-top: 40px;
    margin-bottom: 36px;
  }
}