.form__item {
  margin: 0 0 30px;
  padding-bottom: 14px;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(0%, 0%, 0%, 0.2);
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Inter', 'Arial', sans-serif;
}


@media (max-width: 425px) {
  .form__item {
    margin-bottom: 28px;
  }
}