.profile__edit {
  padding: 0;
  width: 24px;
  height: 24px;
  margin: 0 0 7px;
  align-self: center;
  background-color: transparent;
  background-image: url(../../../image/profile/icons/vect.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid white;
}

.profile__edit:hover {
  opacity: 0.5;
}

@media (max-width: 706px) {
  .profile__edit {
    margin-left: 10px;
  }
}

@media (max-width: 475px) {
  .profile__edit {
    width: 18px;
    height: 18px;
  }
}