.profile-block__add {
  align-self: center;
  height: 50px;
  background-color: black;
  border: 2px solid white;
  border-radius: 2%;
  background-image: url(/image/profile/icons/vector.svg);
  background-repeat: no-repeat;
  background-position: center;

}

.profile-block__add:hover {
  opacity: 0.5;
}

@media (max-width: 987px) {
  .profile-block__add {
    margin: 0 auto;
    width: 70%;
  }
}

@media (max-width: 676px) {
  .profile-block__add {
    margin: 0 auto;
    width: 60%;
  }
}

@media (max-width: 425px) {
  .profile-block__add {
    margin: 0 auto;
    width: 80%;
  }
}