.profile__add {
  width: 17%;
  padding: 0;
  align-self: center;
  height: 50px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 2%;
  background-image: url(../../../image/profile/icons/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.profile__add:hover {
  opacity: 0.6;
}

@media (max-width: 875px) {
  .profile__add {
    margin: 31px auto 0;
    width: 80%;
  }
}

@media (max-width: 425px) {
  .profile__add {
    margin: 31px auto 0;
    width: 100%;
  }
}