.card__like {
  width: 25px;
  height: 20px;
  border: 0;
  margin: 20px 5px 3px;
  background-color: transparent;
  background-image: url(../../../image/galery/vec.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__like:hover {
  opacity: 0.5;
}

@media (max-width: 425px) {
  .card__like {
    margin: 30px 7px;
  }
}