.profile__info {
  margin-left: 28px;
  margin-top: 25px;
  padding: 0;
  padding-bottom: 7px;
  max-width: 340px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 545px) {
  .profile__info {
    justify-content: center;
    margin-left: 0;
  }
}

@media (max-width: 425px) {
  .profile__info {
    margin-left: 28px;
  }
}