.profile__info {
  margin-left: 31px;
  margin-top: 25px;
  padding: 0;
  padding-bottom: 7px;
  max-width: 336px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 538px) {
  .profile__info {
    justify-content: center;
    margin-left: 0;
    margin-top: 25px;
  }
}