.profile__info {
  margin-top: 25px;
  padding: 0 28px;
  padding-bottom: 7px;
  max-width: 340px;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, 1fr);
  column-gap: 25px;
  align-self: center;
}

@media (max-width: 545px) {
  .profile__info {
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .profile__info {
    max-width: 288px;
    column-gap: 10px;

  }
}