.profile-block__edit {
  width: 24px;
  height: 24px;
  margin: 0 8px;
  background-color: black;
  background-image: url(./image/profile/icons/vect.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid white;
}

.profile-block__edit:hover {
  opacity: 0.5;
}